# Site Settings
title: Birdy's Hideout
email: birdys.hideout@warou.net
baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://birdys-hideout.de" # the base hostname & protocol for your site, e.g. http://example.com

# Social
instagram_username: birdys_hideout

# Build Settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Collections
collections:
  posts:
    output: true
    permalink: /blog/:year/:month/:title/

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

# Excludes
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - vendor/